<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE xml>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.arm.cmsis.pack.ui.preferences.CpPreferencePage"
            id="com.arm.cmsis.pack.ui.CpPreferencePage"
            name="%CMSISpage.name">
      </page>
      <page
            category="com.arm.cmsis.pack.ui.CpPreferencePage"
            class="com.arm.cmsis.pack.ui.preferences.CpManLocalRepoPage"
            id="com.arm.cmsis.pack.ui.CpManLocalRepoPage"
            name="%ManageLocalRepositories">
      </page>
      <page
            category="com.arm.cmsis.pack.ui.CpPreferencePage"
            class="com.arm.cmsis.pack.ui.preferences.CpConsolePreferencePage"
            id="com.arm.cmsis.pack.ui.CpConsolePreferencePage"
            name="%ConsolePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arm.cmsis.pack.ui.editors.RteModelEditor"
            contributorClass="com.arm.cmsis.pack.ui.editors.RteEditorContributor"
            extensions="rteconfig"
            icon="icons/rte.gif"
            id="com.arm.cmsis.pack.ui.editors.RteConfigurationEditor"
            name="%editor.RteConfiguration">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.arm.cmsis.pack.category"
            name="%CMSISPackManagerCategory">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.arm.cmsis.pack.ui.console.RteConsoleFactory"
            icon="icons/rteConsole.gif"
            label="%console.CMSIS_Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.arm.cmsis.pack.ui.preferences.CpUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="com.arm.cmsis.pack.ui.rteproblemmarker"
         name="%RTEProblemMarkerName"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="com.arm.cmsis.pack.ui.rteproblemmarker.dependencyitem">
      </attribute>
   </extension>
</plugin>
