<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE xml>
<plugin>
   <extension
         id="cmsiszoneheadlessmode"
         name="Headless CMSIS-Zone test"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main"
            visible="true">
         <run
               class="com.arm.cmsis.zone.it.CmsisZoneHeadlessMode">
         </run>
      </application>
   </extension>
</plugin>
