<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE xml>
<plugin>
   <extension
         point="com.arm.cmsis.pack.PackInstaller">
      <PackInstaller
            Description="Provides reference implementation of pack installer functionality"
            class="com.arm.cmsis.pack.installer.CpPackInstaller"
            id="com.arm.cmsis.pack.installer.CpPackInstaller"
            name="Default CMSIS-Pack installer ">
      </PackInstaller>
   </extension>
</plugin>
