<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE xml>
<plugin>
   <extension
         id="CmsisZoneProjectNature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.arm.cmsis.zone.project.CmsisZoneProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
            class="com.arm.cmsis.zone.ui.ZoneNaturePropertyTester"
            id="com.arm.cmsis.zone.project.Nature"
            namespace="com.arm.cmsis.zone.project.property"
            properties="zoneNature"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>


   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arm.cmsis.zone.ui.editors.CmsisZoneEditor"
            contributorClass="com.arm.cmsis.zone.ui.editors.CmsisZoneEditorContributor"
            extensions="azone"
            icon="icons/CMSIS_Zone16.png"
            id="com.arm.cmsis.zone.ui.editors.CmsisZoneEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.arm.cmsis.zone.category.CMSIS"
            class="com.arm.cmsis.zone.ui.wizards.CmsisZoneProjectWizard"
            hasPages="true"
            icon="icons/CMSIS_Zone16.png"
            id="com.arm.cmsis.zone.ui.wizards.CMSISZoneProjectWizard"
            name="%wizard.name"
            project="true">
      </wizard>
      <category
            id="com.arm.cmsis.zone.category.CMSIS"
            name="%category.name">
      </category>
      <wizard
            category="com.arm.cmsis.zone.category.CMSIS"
            class="com.arm.cmsis.zone.ui.wizards.CmsisZoneAzoneFileWizard"
            icon="icons/CMSIS_Zone_New.png"
            id="com.arm.cmsis.zone.ui.wizards.CMSISZoneAzoneFileWizard"
            name="%wizard.name.0">
      </wizard>

   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/CMSIS_Zone8.png"
            id="com.arm.cmsis.pack.project.image.rte_ovr"
            natureId="com.arm.cmsis.zone.ui.CmsisZoneProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.arm.cmsis.zone.ui.commands.category"
            name="%category.name.0">
      </category>
      <command
            categoryId="com.arm.cmsis.zone.ui.commands.category"
            description="%command.description"
            id="com.arm.cmsis.zone.ui.commands.GenerateCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arm.cmsis.zone.ui.handlers.GenerateHandler"
            commandId="com.arm.cmsis.zone.ui.commands.GenerateCommand">
            <enabledWhen>
                <with variable="selection">
                    <iterate ifEmpty="false">
                        <adapt type="org.eclipse.core.resources.IResource">
                            <test property="com.arm.cmsis.zone.project.property.zoneNature"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      </menuContribution>
   </extension>
   <extension
         id="headlessgen"
         name="%extension.name.0"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            icon="icons/CMSIS_Zone16.png"
            thread="main"
            visible="true">
         <run
               class="com.arm.cmsis.zone.gen.HeadlessGen">
         </run>
      </application>
   </extension>
   <extension
         id="com.arm.cmsis.zone.problemmarker"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="com.arm.cmsis.zone.problemmarker.item">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.arm.cmsis.zone.ui.wizards.CMSISZoneAzoneFileWizard">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with></enablement>
      </commonWizard>
   </extension>
</plugin>
