<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arm.cmsis.config.editors.ConfigEditor"
            contributorClass="com.arm.cmsis.config.editors.ConfigEditorContributor"
            extensions="c, C, cpp, s, S, h, hpp, ini"
            icon="icons/details.gif"
            id="com.arm.cmsis.config.editors.configEditor"
            name="CMSIS Configuration Wizard">
      </editor>
   </extension>

</plugin>
