<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CMSIS"
            id="com.arm.cmsis.pack.refclient.cmsis">
      </category>
      <view
            name="CMSIS-Packs"
            icon="icons/packages.png"
            category="com.arm.cmsis.pack.refclient.cmsis"
            class="com.arm.cmsis.pack.refclient.views.PackView"
            id="com.arm.cmsis.pack.refclient.views.PackView">
      </view>
      <view
            category="com.arm.cmsis.pack.refclient.cmsis"
            class="com.arm.cmsis.pack.refclient.views.DeviceTreeView"
            icon="icons/device.gif"
            id="com.arm.cmsis.pack.refclient.DeviceTreeView"
            name="CMSIS-Devices "
            restorable="true">
      </view>
      <view
            category="com.arm.cmsis.pack.refclient.cmsis"
            class="com.arm.cmsis.pack.refclient.views.RteConfigurationView"
            icon="icons/RteManager.gif"
            id="com.arm.cmsis.pack.refclient.RteConfigurationView"
            name="RTE Configuration"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.arm.cmsis.pack.refclient.category"
            name="CMSIS">
      </category>
      <wizard
            category="com.arm.cmsis.pack.refclient.category"
            class="com.arm.cmsis.pack.refclient.wizards.NewRteConfigurationWizard"
            icon="icons/RteManager.gif"
            id="com.arm.cmsis.pack.refclient.wizards.rteconfig"
            name="RTE Configuration">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.arm.cmsis.pack.refclient.editors.RteConfigurationEditor"
            contributorClass="com.arm.cmsis.pack.refclient.editors.RteConfigurationEditorContributor"
            extensions="rteconfig"
            icon="icons/RteManager.gif"
            id="com.arm.cmsis.pack.refclient.editors.RteConfigurationEditor"
            name="RTE Configuration Editor">
      </editor>
   </extension>

</plugin>
