<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.arm.cmsis.pack.installer.ui.perspectives.packmanager"
            name="%PackManager.name">
      </category>
      <view
            category="com.arm.cmsis.pack.category"
            class="com.arm.cmsis.pack.installer.ui.views.PacksView"
            icon="icons/packInstaller.gif"
            id="com.arm.cmsis.pack.installer.ui.views.PacksView"
            name="%PacksView.name">
      </view>
      <view
            category="com.arm.cmsis.pack.category"
            class="com.arm.cmsis.pack.installer.ui.views.DevicesView"
            icon="icons/chip.png"
            id="com.arm.cmsis.pack.installer.ui.views.DevicesView"
            name="%DevicesView.name">
      </view>
      <view
            category="com.arm.cmsis.pack.category"
            class="com.arm.cmsis.pack.installer.ui.views.BoardsView"
            icon="icons/board.png"
            id="com.arm.cmsis.pack.installer.ui.views.BoardsView"
            name="%BoardsView.name">
      </view>
      <view
            category="com.arm.cmsis.pack.category"
            class="com.arm.cmsis.pack.installer.ui.views.ExamplesView"
            icon="icons/cmsisExample.png"
            id="com.arm.cmsis.pack.installer.ui.views.ExamplesView"
            name="%ExamplesView.name">
      </view>
      <view
            category="com.arm.cmsis.pack.category"
            class="com.arm.cmsis.pack.installer.ui.views.PackPropertyView"
            icon="icons/details.gif"
            id="com.arm.cmsis.pack.installer.ui.views.PackPropertyView"
            name="%PackPropertiesView.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.arm.cmsis.pack.installer.ui.perspectives.PackManagerPerspective"
            icon="icons/packInstaller.gif"
            id="com.arm.cmsis.pack.installer.ui.perspectives.packmanager"
            name="%PackManagerPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.arm.cmsis.pack.installer.toolbar.main.packInstallerToolbar"
               label="%PackManagerToolbar.label">
            <command
                  commandId="com.arm.cmsis.pack.installer.commands.updateCommand"
                  icon="icons/check4Update.gif"
                  label="%UpdateCommand.label"
                  style="push"
                  tooltip="%UpdateCommand.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.arm.cmsis.pack.installer.ui.perspectives.packmanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arm.cmsis.pack.installer.commands.importPackCommand"
                  icon="icons/rteUnpack.png"
                  label="%ImportCommand.label"
                  style="push"
                  tooltip="%ImportCommand.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.arm.cmsis.pack.installer.ui.perspectives.packmanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arm.cmsis.pack.installer.commands.reloadCommand"
                  icon="icons/refresh_nav.gif"
                  label="%ReloadCommand.label"
                  style="push"
                  tooltip="%ReloadCommand.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.arm.cmsis.pack.installer.ui.perspectives.packmanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arm.cmsis.pack.installer.commands.importFolderPacksCommand"
                  icon="icons/import_folder.gif"
                  label="Import Packs from Folder"
                  style="push"
                  tooltip="Import Packs from Folder">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.arm.cmsis.pack.installer.ui.perspectives.packmanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.arm.cmsis.pack.installer.commands"
            name="%PackManagerCommands.name">
      </category>
      <command
            categoryId="com.arm.cmsis.pack.installer.commands"
            id="com.arm.cmsis.pack.installer.commands.updateCommand"
            name="%UpdateCommand.name">
      </command>
      <command
      		categoryId="com.arm.cmsis.pack.installer.commands"
            id="com.arm.cmsis.pack.installer.commands.importPackCommand"
            name="%ImportCommand.name">
      </command>
      <command
            id="com.arm.cmsis.pack.installer.commands.reloadCommand"
            name="%ReloadCommand.name">
      </command>
      <command
            categoryId="com.arm.cmsis.pack.installer.commands"
            id="com.arm.cmsis.pack.installer.commands.importFolderPacksCommand"
            name="Import Packs from Folder">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arm.cmsis.pack.installer.ui.handlers.UpdatePacksHandler"
            commandId="com.arm.cmsis.pack.installer.commands.updateCommand">
      </handler>
      <handler
            class="com.arm.cmsis.pack.installer.ui.handlers.ImportPacksHandler"
            commandId="com.arm.cmsis.pack.installer.commands.importPackCommand">
      </handler>
      <handler
            class="com.arm.cmsis.pack.installer.ui.handlers.ReloadPacksHandler"
            commandId="com.arm.cmsis.pack.installer.commands.reloadCommand">
      </handler>
      <handler
            class="com.arm.cmsis.pack.installer.ui.handlers.ImportFolderPacksHandler"
            commandId="com.arm.cmsis.pack.installer.commands.importFolderPacksCommand">
      </handler>
   </extension>

</plugin>
