<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="RteNature"
         name="%CmsisRteProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.arm.cmsis.pack.project.RteProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="com.arm.cmsis.pack.project.template"
            location="templates/cmsis_project/template.xml"
            pagesAfterTemplateSelectionProvider="com.arm.cmsis.pack.project.template.RteProjectTemplate"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
   </extension>
   <extension
         id="RteConfigurationDataProvider"
         name="%CmsisRteConfigDataProvider"
         point="org.eclipse.cdt.core.CConfigurationDataProvider">
      <provider
            class="com.arm.cmsis.pack.project.RteSetupHook"
            natures="com.arm.cmsis.pack.project.RteNature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="CreateRteProject"
            processRunner="com.arm.cmsis.pack.project.template.CreateRteProject">
         <simple
               name="projectName">
         </simple>
         <simple
               name="compiler">
         </simple>
         <simple
               name="output">
         </simple>
         <simple
               name="toolChainAdapter">
         </simple>
         <simple
               name="lastStep">
         </simple>
      </processType>
      <processType
            name="InstallDeviceAndBoardPacks"
            processRunner="com.arm.cmsis.pack.project.template.InstallDeviceAndBoardPacks">
         <simple
               name="projectName">
         </simple>
      </processType>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.arm.cmsis.pack.project.ui.RteProjectDecorator"
            id="com.arm.cmsis.pack.project.decorators.RteProjectDecorator"
            label="%CmsisRteProjectDecorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.arm.cmsis.pack.project.ui.RtePropertyPage"
            id="com.arm.cmsis.pack.project.ui.samplePropertyPage"
            name="%CmsisRteProjectPropertyPageName"
            nameFilter="*.*"
            selectionFilter="single">
         <enabledWhen>
            <test
                  property="com.arm.cmsis.pack.project.property.rteFile">
            </test>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.arm.cmsis.pack.project.ui.RtePropertyTester"
            id="com.arm.cmsis.pack.project.RtePropertyTester"
            namespace="com.arm.cmsis.pack.project.property"
            properties="rteFile"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
            class="com.arm.cmsis.pack.project.ui.RteUpdateConfigFileTester"
            id="com.arm.cmsis.pack.project.RteUpdateConfigFileTester"
            namespace="com.arm.cmsis.pack.project.update"
            properties="canUpdate, canMerge"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.resources.variableResolvers">
      <variableResolver
            class="com.arm.cmsis.pack.project.CpVariableResolver"
            variable="cmsis_pack_root">
      </variableResolver>
      <variableResolver
            class="com.arm.cmsis.pack.project.CpVariableResolver"
            variable="${cmsis_pack_root}">
      </variableResolver>
      <variableResolver
            class="com.arm.cmsis.pack.project.CpVariableResolver"
            variable="${cmsis_rte}">
      </variableResolver>
      <variableResolver
            class="com.arm.cmsis.pack.project.CpVariableResolver"
            variable="cmsis_rte">
      </variableResolver>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="The root directory containing CMSIS-Packs "
            name="cmsis_pack_root"
            resolver="com.arm.cmsis.pack.project.CpVariableResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="Path to DFP (Device Family Pack) used in the project"
            name="cmsis_dfp"
            resolver="com.arm.cmsis.pack.project.CpVariableResolver"
            supportsArgument="true">
      </variable>
      <variable
            description="RTE marker, expands to an empty string. Prefixes RTE-specific paths and marks RTE-specific pre-/post-build commands using :begin and :end arguments. "
            name="cmsis_rte"
            resolver="com.arm.cmsis.pack.project.CpVariableResolver"
            supportsArgument="true">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.arm.cmsis.pack.project.ui.RteProjectRenameParticipant"
            id="com.arm.cmsis.pack.project.renameParticipant1"
            name="Rename RTE project participant">
		<enablement>
	      <with variable="affectedNatures">
	        <iterate operator="or">
	          <equals value="com.arm.cmsis.pack.project.RteNature"/>
	        </iterate>
	      </with>
	      <with variable="element">
        	<instanceof value="org.eclipse.core.resources.IResource"/>
      	  </with>
         </enablement>
     </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.arm.cmsis.pack.project.ui.updateConfigFileCategory"
            name="RTE Configuration">
      </category>
      <command
            categoryId="com.arm.cmsis.pack.project.ui.updateConfigFileCategory"
            id="com.arm.cmsis.pack.project.ui.commands.updateConfigFile"
            name="Update Config File">
      </command>
      <command
            categoryId="com.arm.cmsis.pack.project.ui.updateConfigFileCategory"
            id="com.arm.cmsis.pack.project.ui.commands.mergeConfigFile"
            name="Merge Config File">
      </command>
      <command
            id="com.arm.cmsis.pack.project.ui.commands.resetBuildSettings"
            name="Reset Build Settings">
      </command>
      <command
            id="com.arm.cmsis.pack.project.ui.commands.cleanup"
            name="Remove Unused Files">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.build">
         <menu
               icon="icons/rte.gif"
               id="com.arm.cmsis.pack.project.ui.cmsisSubmenu"
               label="CMSIS C/C++ Project">
            <command
                  commandId="com.arm.cmsis.pack.project.ui.commands.updateConfigFile"
                  label="Update Config File"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <test
                           forcePluginActivation="true"
                           property="com.arm.cmsis.pack.project.update.canUpdate">
                     </test>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arm.cmsis.pack.project.ui.commands.mergeConfigFile"
                  label="Merge Config File"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false">
                     <test
                           forcePluginActivation="true"
                           property="com.arm.cmsis.pack.project.update.canMerge">
                     </test>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arm.cmsis.pack.project.ui.commands.resetBuildSettings"
                  label="Reset Build Settings"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.arm.cmsis.pack.project.RteNature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.arm.cmsis.pack.project.ui.commands.cleanup"
                  label="Remove Unused Files"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.arm.cmsis.pack.project.RteNature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.arm.cmsis.pack.project.ui.handlers.UpdateConfigFileHandler"
            commandId="com.arm.cmsis.pack.project.ui.commands.updateConfigFile">
      </handler>
      <handler
            class="com.arm.cmsis.pack.project.ui.handlers.MergeConfigFileHandler"
            commandId="com.arm.cmsis.pack.project.ui.commands.mergeConfigFile">
      </handler>
      <handler
            class="com.arm.cmsis.pack.project.ui.handlers.ResetBuildSettingsHandler"
            commandId="com.arm.cmsis.pack.project.ui.commands.resetBuildSettings">
      </handler>
      <handler
            class="com.arm.cmsis.pack.project.ui.handlers.CleanupHandler"
            commandId="com.arm.cmsis.pack.project.ui.commands.cleanup">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.arm.cmsis.pack.project.wizards.cmsisCodeTemplateNewWizard">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.arm.cmsis.pack.project.cmsisCodeTemplateCategory"
            name="CMSIS User Code Template">
      </category>
      <wizard
            category="com.arm.cmsis.pack.project.cmsisCodeTemplateCategory"
            class="com.arm.cmsis.pack.project.wizards.CmsisCodeTemplateNewWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/new_cmsis_templ.png"
            id="com.arm.cmsis.pack.project.wizards.cmsisCodeTemplateNewWizard"
            name="Files from CMSIS Template">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         id="headlessbuild"
         name="CMSIS Project Headless Build"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            icon="icons/rte.gif"
            thread="main"
            visible="true">
         <run
               class="com.arm.cmsis.pack.project.CmsisHeadlessBuilder">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.arm.cmsis.category"
            class="com.arm.cmsis.pack.project.wizards.CsolutionImportWizard"
            icon="icons/rte.gif"
            id="com.arm.cmsis.pack.project.wizards.CsolutionImportWizard"
            name="Csolution projects for debugging (experimental)">
         <description>
            Import projects specified by cbuild-idx.yml file into workspace for debugging
         </description>
      </wizard>
      <category
            id="com.arm.cmsis.category"
            name="CMSIS">
      </category>
   </extension>


</plugin>
