<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="RteNature"
         name="%CmsisRteProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.arm.cmsis.pack.project.RteProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="com.arm.cmsis.pack.project.template"
            location="templates/cmsis_project/template.xml"
            pagesAfterTemplateSelectionProvider="com.arm.cmsis.pack.project.template.RteProjectTemplate"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
      </template>
   </extension>
   <extension
         id="RteConfigurationDataProvider"
         name="%CmsisRteConfigDataProvider"
         point="org.eclipse.cdt.core.CConfigurationDataProvider">
      <provider
            class="com.arm.cmsis.pack.project.RteSetupHook"
            natures="com.arm.cmsis.pack.project.RteNature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="CreateRteProject"
            processRunner="com.arm.cmsis.pack.project.template.CreateRteProject">
         <simple
               name="projectName">
         </simple>
         <simple
               name="compiler">
         </simple>
         <simple
               name="output">
         </simple>
         <simple
               name="toolChainAdapter">
         </simple>
      </processType>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.arm.cmsis.pack.project.ui.RteProjectDecorator"
            id="com.arm.cmsis.pack.project.decorators.RteProjectDecorator"
            label="%CmsisRteProjectDecorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.arm.cmsis.pack.project.ui.RtePropertyPage"
            id="com.arm.cmsis.pack.project.ui.samplePropertyPage"
            name="%CmsisRteProjectPropertyPageName"
            nameFilter="*.*"
            selectionFilter="single">
         <enabledWhen>
            <test
                  property="com.arm.cmsis.pack.project.property.rteFile">
            </test>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.arm.cmsis.pack.project.ui.RtePropertyTester"
            id="com.arm.cmsis.pack.project.RtePropertyTester"
            namespace="com.arm.cmsis.pack.project.property"
            properties="rteFile"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.resources.variableResolvers">
      <variableResolver
            class="com.arm.cmsis.pack.project.CpVariableResolver"
            variable="cmsis_pack_root">
      </variableResolver>
      <variableResolver
            class="com.arm.cmsis.pack.project.CpVariableResolver"
            variable="${cmsis_pack_root}">
      </variableResolver>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Poinst to the root directory containing CMSIS packs "
            name="cmsis_pack_root"
            resolver="com.arm.cmsis.pack.project.CpVariableResolver">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.arm.cmsis.pack.project.ui.RteProjectRenameParticipant"
            id="com.arm.cmsis.pack.project.renameParticipant1"
            name="Rename RTE project participant">
		<enablement>
	      <with variable="affectedNatures">
	        <iterate operator="or">
	          <equals value="com.arm.cmsis.pack.project.RteNature"/>
	        </iterate>
	      </with>
	      <with variable="element">
        	<instanceof value="org.eclipse.core.resources.IResource"/>
      	  </with>
         </enablement>
     </renameParticipant>
   </extension>


</plugin>
